.nav{
    background-color: #000;
    width: 100%;
    margin-bottom: 0px;
}
.navbar{
    margin-bottom: 0px;
}
.navBtn{
    background-image: linear-gradient(to bottom,#dbdbdb 0,#e2e2e2 100%);
    color: #000;
    background-color: #dbdbdb !important;
}
#navbar01{
    cursor: pointer;
}
.smBtn{
        width: 100px;
        margin-right: 0px;
        padding: 5px;
    }
@media only screen and (min-width: 765px) {
    .smBtn{
        width: 110px;
        margin: 5px;
    }
    .jtronTxt {
        width: 40%;
        margin: 0px;
    }
}