<!DOCTYPE HTML>
<html ng-app="league">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DraftHub League Dashboard</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/nav.css">
</head>
<body ng-controller="leagueController">
<script src="js/login.js"></script>
<script src="js/league.js"></script>
<div class="league">

    <div class="container-fluid home">
        <div class="row">
            <nav class="navbar navbar-default navbar-static-top">
                <div ng-include="'navbar.html'" class="nav"></div>
            </nav>
        </div>
        <div class="homeJtron jumbotron row">
            <div class="col-md-12">
                <div class="col-md-5 jtronImg">
                    <img src="images/carson-wentz-vs-cincinnati.jpg" alt="Paris" width="400" height="300">
                </div>
                <div class="col-md-5 jtronTxt">
                    <h1 class="head1">
                        Draft Hub<br>
                    </h1>
                    <h6 class="head6">
                        <p>
                            Welcome to Draft Hub! Stop pulling names out of a hat. Create a
                            league with Draft Hub and follow live as your fantasy draft
                            order is randomly generated. Host the draft with google hangouts
                            or skype, or simply login and view where you will be drafting!
                        </p>
                    </h6>
                </div>
            </div>
        </div>
        <div class="row newsRow">
            <div class="col-md-12">
                <div class="col-md-5">
                    <h2>NFL News</h2>
                    <table id="newsTable" class="table table-striped">
                        <tr ng-repeat="Object in newsArticles">
                            <td>
                                <h5><a href={{Object.url}}>{{Object.title}}</a></h5>
                                <!--<h5>{{newsArticles.sources}}</h5>-->
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-1"></div>
                <div class="currentLeagues col-md-5">
                    <h2>Current Leagues</h2>
                    <table id="leaguesTable" class="table table-striped">
                        <tr ng-repeat="Object in leagues">
                            <td>
                                <h5>{{Object}}</h5>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>
